<h1>Table: Users</h1>

<div id="users">

 <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">email:</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">

          <% @users.each do |user| %>


            <%= render "user_row", user: user %>

          <% end %>

      </tbody>
    </table>

</div>

</br>