<h1>Table: Products</h1>

<div id="products">

 <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">name:</th>
          <th scope="col">description:</th>
          <th scope="col">price subunit</th>
            <th scope="col">price currency</th>
            <th scope="col">created at</th>
            <th scope="col">updated at</th>
          <th scope="col">edit</th>
          <th scope="col">delete</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">

          <% @products.each do |product| %>


            <%= render "product_row", product: product %>

          <% end %>

      </tbody>
    </table>

</div>

</br>
<%= link_to "New product", new_product_path, class:"btn btn-primary" %>